.nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 25px;
    list-style: none;
    background-color: #4169e1;
    position: relative;
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

a{
    color: white;
    text-decoration: none;
}