.list-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    background-color: 	#4169E1;
    padding: 25px;
    position: relative;
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
}

a{
    color: white;
    text-decoration: none;
}

.mig{
    color: black;
}




